/* Default rules */
html {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    padding: 15px;
    border: none;
    border-radius: 40%;
    vertical-align: center;
}

ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}


/* header */
.main-header {
padding: 10px;
}
.main-header.bg-color {
    background-color: #3161E0;
}

.header-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.header-col {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-col li{
    flex-basis: calc((100% * 5) / 12);
}

.color a {
    color: white;

}
.button-decor a {
    color: black;
    background-color: white;
}

.header-row ul {
    flex-grow: 1;
    padding: 0 150px;
}

/* MAIN */

.container-sm {
    max-width: 700px;
    margin: 120px auto;

}

.hero {
    padding: 10px;
}

.paragraph {
    line-height: 40px;
}
.col-12 p {
    margin-bottom: 30px;
}

main > :first-child {
    background-image: url(../img/jumbo.png);
    background-size: contain;
    
}

section[class^=section] {
    padding: 10px;

}
.hero, .col-12{
    text-align: center;
    color: white;
}
.col-12 h1 {
font-size: 50px;
margin-bottom: 30px;
}

.hero-btns .btn-right  {
    background-color: black;
}
.btn-right a {
    color: white;
}

.btn-left a {
    color: black;
}


.col-12, p {
    line-height: 30px;
}


.col-12 {
    flex-basis: 100%;
    
}

.col-8 {
    flex-basis: calc((100% * 8) /12);
}

.col-4 {
    flex-basis: calc((100% * 4) /12);
}

/* FOOTER */

.col-4 {
    flex-basis: calc((100% * 4) / 12);

}

.col-2 {
    flex-basis: calc((100% * 2) / 12);

}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-col {
    text-align: center;

}
.footer-section-2 {
    border-top: 3px solid white;
    padding-top: 30px;
}
/* Debugs */



.header-col.debug {
    background-color: yellow;
    border: dashed black 5px;
    
}

.hero.debug {
background-color: lightcoral;
}

.section-odd.debug {
background-color: blue;
}
.section-even.debug {
    background-color: green;
}

/* .debug[class^=col] {
    background-color: yellow;
    border: dashed black 5px;
    text-align: center;
    min-height: 200px;

} */

.debug.footer-row {
    background-color: aqua;
    min-height: 100px;
}
footer.debug {
    background-color: black;
}